<div class="notification-container">
  <div 
    *ngFor="let notification of notifications; trackBy: trackByNotificationId"
    class="notification-toast"
    [class]="getTypeClass(notification.type)"
    [class.fade-out]="notification.fadeOut"
    [@slideIn]
  >
    <div class="notification-content">
      <div class="notification-icon">
        <i [class]="getIconClass(notification)"></i>
      </div>
      
      <div class="notification-body">
        <h4 class="notification-title">{{ notification.title }}</h4>
        <p class="notification-message">{{ notification.message }}</p>
      </div>
      
      <div class="notification-actions">
        <button 
          *ngIf="notification.action" 
          class="notification-action-btn"
          (click)="notification.action!.callback()"
        >
          {{ notification.action!.label }}
        </button>
        
        <button 
          class="notification-close-btn"
          (click)="removeNotification(notification.id)"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    
    <div class="notification-progress" *ngIf="notification.duration && notification.duration > 0">
      <div class="progress-bar" [style.animation-duration]="notification.duration + 'ms'"></div>
    </div>
  </div>
</div>
